.card-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  padding: 10px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.33s ease-out;
  background-size: cover;
  background-position: center;
  text-align: left;
  min-height: 250px;
}

.card-container:after {
  content:"\A";
}

.card-overlay {
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.65);
  position:absolute;
  top:0;
  left:0;
}

.event-info-container {
  z-index: 10;
  width: 80%;
  min-height: 250px;
}

.event-info-container h2 {
  margin: 6px 0;
  font-size: 20px;
}

.event-info {
  display: none;
  position: absolute;
  bottom: 1.2em;
  left: 1.2em;
  right: 1em;
}

.event-info p {
  margin: 2px 0;
  font-size: 12.5px;
}

.event-date-icon {
  width: 15%;
  position: absolute;
  top: 0;
  right: 0;
  border-left: solid 1px;
  border-bottom: solid 1px;
  padding: 6px;
  text-align: center;
  font-size: .75em;
  font-weight: 600;
}

.event-date-icon-day {
  margin: 0;
  margin-bottom: 4px;
}

.event-info-date {
  font-size: 15px;
}

.prefix-text {
  margin-top: 8px;
  display: block;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.ticket-box {
  position: absolute;
  bottom: 0;
  right: .25em;
  text-align: center;
  font-size: 16px;
}

.buy-tix-btn {
  background: #e4c9ab;
  color: #000;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  padding: 6px 8px;
  margin-top: 6px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .5px;
  box-shadow: 1px 1px 4px rgba(17, 17, 17, 0.61);
}

.card-container:hover {
  transform: scale(1.05);
}

.card-container:hover:after {
  content:"\A";
  width:100%;
  height:100%;
  background:rgba(255, 0, 0, 0.5);
  position:absolute;
  top:0;
  left:0;
}

.card-container:hover .event-info-container {
  border: solid 8px #fff;
  padding: 8px;
  width: auto;
}

.card-container:hover .event-info {
  display: block;
}

.card-container:hover .event-date-icon {
  display: none;
}
